@import "../defintions.less";

@taskgraphmeta-name-width: 100px;
@taskgraphmeta-value-width: 500px;

.taskgraphmeta {
    margin: 0 auto;
    &-name {
    }
    &-container {
        display:grid;
        grid-template-columns: auto auto;
    }
    &-table {
        font-size: 1.1rem;
        //width: @taskgraphmeta-width;
        margin: 0 auto;
    }
    &-row {
        display: grid;
        grid-template-columns: @taskgraphmeta-name-width @taskgraphmeta-value-width;
    }
    &-path {
        font-family: "Roboto Mono";
        white-space: nowrap;
        overflow: auto;
    }
    &-code {
        width: 100%;
        border-radius: 1rem;   
    }
}

.CodeMirror {
    font-size: 16px;
    border-radius: .2rem;
    height: auto;
}

@media screen and (min-width: 1000px) {
    .taskgraphmeta {
    }
}